.clearAll {
    float: none;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.navbar {
    border: 1px solid black;
}

.main {
    border: 1px solid black;
}

.googlePromo img {
    height: ;
}

.footer {
    border: 1px solid black;
    background: #F2F2F2;
    overflow: hidden;
}
